<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../images/logo.jpg" type="image/x-icon">

  <title>Ashmawy Mobile Store</title>


  <!-- bootstrap core css -->
 <%- include('./phoneShop/Components/cssAndBootStarpSection.ejs') %>
  <!-- End Of css bootstrap core css -->

</head>

<body>



    <!-- header section strats -->
    <%- include('./phoneShop/Components/header.ejs') %>
 
    <section class="space" style="padding-bottom: 300px;"></section>

  <!-- shop section -->
  <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 style="color: red;">
          Sorry Page Not Found !! 🥲
        </h2>
        
      </div>
   
  </section>
  

  <!-- end shop section -->
<section class="space" style="padding-bottom: 500px;"></section>


  <!-- footer section -->
      <%- include('./phoneShop/Components/footer.ejs') %>
  <!-- footer section -->

  <!-- Start Java Scrpti-->
  <%- include('./phoneShop/Components/javaScriptSection.ejs') %>
   <!-- End Java Scrpti-->

</body>

</html>