<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 footer-col">
        <div class="footer_detail">
          <h4>
            About
          </h4>
          <p>
            وعشان دائما عند حسن ظنكم قررنا نعملكم متجر عشان نسهل علي حبايبنا في كل مكان في مصر الشراء بأحسن اسعار وفي خصومات وعروض كتير الفتره الجايه.
تقدر تطلب اي جهاز كسر زيرو أو اكسسوار وهيوصلك في أي مكان في مصر في اسرع وقت.
          <div class="footer_social">
            <a href="https://www.facebook.com/profile.php?id=100070720035189&mibextid=2JQ9oc" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/elashmawy_mobile_store?igsh=d25mOGtrZ2tnNzUy" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://wa.me/+201010889735" target="_blank">
              <i class="fa fa-whatsapp" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="footer_contact">
          <h4>
            Reach at..
          </h4>
          <div class="contact_link_box">
            <a href="https://www.google.com/maps/place/30%C2%B028'35.5%22N+32%C2%B019'13.3%22E/@30.4765346,32.3229449,17z/data=!3m1!4b1!4m4!3m3!8m2!3d30.47653!4d32.32037?entry=ttu">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Location
              </span>
            </a>
            <span href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call +010 10889735
                
              </span>
            </span>
          </div>
        </div>
      </div>
 
      <div class="col-md-6 col-lg-3 footer-col">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>