<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container ">
      <a class="navbar-brand" href="/">
        <span>
          <img src="../images/logo-remove.png" alt="#"/ height="80px" width="80px">
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""> </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/iphone"> Iphone </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/android"> Andriod </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/used"> Used</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accessories">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/airpodAndsmartwatch">Airbods & SmartWatches</a>
          </li>
        </ul>
        <!-- <div class="user_option-box">
          <a href="">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </div> -->
      </div>
    </nav>
  </div>
</header>



