<section class="slider_section ">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid ">
          <% slide.forEach(elem => { %>
           
          
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  <%= elem.title %>
                </h1>
                <p>
                  <%= elem.description %>
                </p>
                <div class="btn-box">
                  <a href="https://wa.me/+201010889735" class="btn1">
                    Contact Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box-box">
              
                  <!-- <img src="#" alt="" height="300px" width="400px"> -->
               
              
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>


    </div>
  
  </div>

</section>